.home {
  position: relative;

}

.body-div {
  padding-left: 10px;
  width: 1000px;
  height: 500px;
}

.home .body-div {
 
  height: 87vh;
}

.home .body-div .flex-box {
  display: flex;
}

.home .body-div .flex-box .left-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  align-items: center;
}

.home .body-div .flex-box .left-div .contents {
  position: absolute;
  width: 40%;
  margin-left: 30%;
  align-items: center;
}

.home .body-div .flex-box .left-div .contents .chat-img {
  width: 60%;
  height: 70%;
  opacity: 0.15;
  top: 0%;
  left: 200%;
  position: absolute;
  transform: rotate(-180deg);
}

.home .body-div .flex-box .left-div .contents .note-img {
  width: 60%;
  height: 60%;
  opacity: 0.15;
  top: 60%;
  left: 200%;
  position: absolute;
  transform: rotate(-90deg);
}

.home .body-div .flex-box .left-div input {
  padding: 0.5rem;
  border: 2px solid #d1d1d1;
  outline: none;
  border-radius: 10px;
  width: 70%;
  font-size: 18px;
  transition-duration: 0.4s;
  z-index: 100;
}

.home .body-div .flex-box .left-div input:focus {
  border-color: #320e85;
}

.home .body-div .flex-box .left-div .home-btn {
  margin: auto;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 17px;
  
  background: #5158B6;
  box-shadow: -14px 16px 27px rgba(0, 0, 0, 0.25), inset 5px -6px 10px rgba(0, 0, 0, 0.25), inset -5px 5px 8px #464EB8;
  border-radius: 15px;
  color: white;
  transition-duration: 0.4s;
  z-index: 1;

}

.home .body-div .flex-box .left-div .home-btn:hover {
  background-color: #8e87eb;
  box-shadow: -14px 16px 27px rgba(0, 0, 0, 0.25), inset 5px -6px 10px rgba(0, 0, 0, 0.25), inset -5px 5px 8px #8e87eb;
  color:white;
}

.home .body-div .flex-box .left-div .start-meet {
  padding: 1rem 0;
}

.home .body-div .flex-box .left-div .join-meet {
  width: 90%;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home .body-div .flex-box .left-div .features {
  margin: auto;
  padding: 1rem;
  margin-left: 4rem;
}

.home .body-div .flex-box .left-div .features .grid-div {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  grid-column-gap: 10px;
  margin-left: 10%;
}

.home .body-div .flex-box .left-div .features .grid-div p {
  font-size: 20px;
}

.home .body-div .flex-box .left-div .features .grid-div p {
  margin: auto 0;
}

.home .body-div .flex-box .left-div .features .grid-div svg {
  font-size: 30px;
}

.home .body-div .flex-box .right-div {
  width: 60%;
}

.home .body-div .flex-box .right-div video {
  width: 100%;
}

@media (max-width: 576px) {
  .home .body-div {
    height: 87vh;
  }

  .home .body-div .flex-box {
    display: block;
  }

  .home .body-div .flex-box .left-div {
    z-index: 1;
    width: 100%;
  }


  .home .body-div .flex-box .left-div .contents .chat-img {
    width: 90%;
    height: 70%;
    opacity: 0.15;
    top: 60%;
    right: 55%;
    position: absolute;
  }

  .home .body-div .flex-box .left-div .start-meet {
    padding: 2rem 1rem;
  }

  .home .body-div .flex-box .left-div .join-meet {
    width: 100%;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .home .body-div .flex-box .left-div .features {
    margin: auto;
    padding: 1rem;
    margin-left: 1rem;
  }

  .home .body-div .flex-box .left-div .features .grid-div {
    width: 90%;
    margin-left: 10%;
  }


}
.img-vc{
  padding-right: 0%;
}
